this is answet

In [7]:
# this is my answer

(a)
Type of problem: Regression (because CEO salary is a continuous variable)

Goal: Inference (we want to understand how the predictors affect the outcome, not just predict it)

n (observations): 500 (firms)

p (predictors): 3

Profit

Number of employees

Industry (a categorical variable, but still a predictor)

(b)
Type of problem: Classification (binary outcome: success/failure)

Goal: Prediction (we want to predict future success, not explain past outcomes)

n: 20 (previous products)

p: 13 (3 named variables + 10 others)

In [1]:
import jupyter_core
import sys
print(jupyter_core.__version__)
print(sys.version)

5.8.1
3.12.10 (tags/v3.12.10:0cc8128, Apr  8 2025, 12:21:36) [MSC v.1943 64 bit (AMD64)]

In [9]:
string_s = "I am string because thats cool"

In [10]:
string2 = string_s.upper()
print(string2)

I AM STRING BECAUSE THATS COOL

In [14]:
try:
    input_var = float(input('Please enter a floating point value: '))
    print('This is my floating point variable {:.5f}'.format(input_var))
    int = 7 / 0
except ValueError:
    print("Invalid input. That cannot be converted to a float.")
except ZeroDivisionError:
    print("You cannot divide by 0")

This is my floating point variable 3.00000
You cannot divide by 0

In [17]:
my_list = [4,4,35,357,76,3,4,3,3,2345,0,-54,2]
my_list.sort()
print(my_list) # lists are mutable data types in Python, meaning that you can change the elements of a list

[-54, 0, 2, 3, 3, 3, 4, 4, 4, 35, 76, 357, 2345]

In [15]:
my_tuple = (5,6,7)

In [21]:
copy_list = my_list #assign copy_list current sorted list
copy_list.sort(reverse=True) #sort copy_list in desc order

In [20]:
print(copy_list)

[2345, 357, 76, 35, 4, 4, 4, 3, 3, 3, 2, 0, -54]

In [22]:
my_list.pop()

-54

In [23]:
my_list

[2345, 357, 76, 35, 4, 4, 4, 3, 3, 3, 2, 0]

In [24]:
copy_list

[2345, 357, 76, 35, 4, 4, 4, 3, 3, 3, 2, 0]

In [25]:
import pandas as pd

In [28]:
df_auto = pd.read_csv("../data/auto.csv")

In [30]:
df_auto.head(7)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala

In [31]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.0+ KB

In [35]:
df_auto['acceleration'].mean()

np.float64(15.55566750629723)